        body {
        	background-color: #f5f6f7 !important;
        }
        
        .zwl {
        	width: 18rem;
        	margin: 0 auto;
        	padding-bottom: 10rem;
        }
        
        input {
        	width: 11rem;
        	font-size: .75rem;
        	outline: none;
        	border: none;
        	height: 1rem;
        	line-height: 1rem;
        	padding: 0 0.5rem;
        	text-align: left;
        }
        
        .rflCardMob input {
        	width: 8rem;
        	color: #666;
        }
        
        input[disabled] {
        	-webkit-appearance: none;
        	background: #fff;
        	opacity: 1;
        }
        
        .contain {
        	width: 18rem;
        	height: 20rem;
        }
        
        .rowBorder {
        	border-bottom: 0.05rem solid #efefef;
        }
        
        .autoMargin {
        	height: 2.4rem;
        	margin: 0 0.75rem;
        	line-height: 2.25rem;
        }
        
        .conRefuelinglCard {
        	margin-bottom: 0.65rem;
        	background-color: white;
        	font-size: 0.8rem;
        }
        
        .clearB {
        	width: 18rem;
        	height: 4rem;
        }
        /*确定按钮*/
        
        .btnNxtCon {
        	position: fixed;
        	bottom: 0;
        	height: 2rem;
        	line-height: 2rem;
        	width: 100%;
        	font-size: .8rem;
        	text-align: center;
        	display: block;
        	background-color: #2a9ded;
        	color: #eaf6fe;
        }
        /*模态*/
        
        #myModal3 .modal-content {
        	text-align: center;
        	height: 80%;
        }
        
        .modal-content {
        	border-radius: 0.5rem;
        }
        
        .modal-header {
        	border-radius: 0.5rem 0.5rem 0 0;
        	text-align: center;
        }
        
        #myModal3 .modal-body {
        	border-bottom: 0.05rem solid #efefef;
        	/*height: 8rem;
            overflow-x:hidden;
            overflow-y: auto;    
            padding: 0rem;   */
        	font-size: 0.6rem;
        	color: #717171;
        	overflow: hidden;
        	overflow-y: auto;
        	height: 8rem;
        	padding: 0;
        }
        
        #myModal3 {
        	overflow-y: hidden;
        	margin: 0 auto;
        	margin-top: 30%;
        	width: 16rem;
        }
        
        .modal-body {
        	border-bottom: 0.05rem solid #efefef;
        }
        
        .modal-content dd {
        	height: 2rem;
        	line-height: 2rem;
        	border-bottom: 0.05rem solid #efefef;
        	text-align: center;
        }
        
        .modal-dialog {
        	margin-top: 20%;
        	/*font-size: 1rem;
            color: #717171;
            overflow: hidden;
            overflow-y: auto;
            height: 7.4rem;
            padding: 0;    */
        }
        
        #myModal3 .modal-footer {
        	border-top: none;
        	padding: 0.5rem 0.5rem;
        }
        
        .modal-footer button {
        	width: 100%;
        }
        
        .shengfenBtn {
        	background-color: #f5f7f7;
        	height: 2rem;
        }
        
        .shengfenbiao {
        	height: 8rem;
        }
        
        #myModal2 {
        	margin: 0 auto;
        	margin-top: 30%;
        	width: 16rem;
        	text-align: center;
        	min-height: 70%;
        }
        
        #myModal {
        	margin-top: 35%;
        	margin-left: 10%;
        	width: 80%;
        	text-align: center;
        }
        
        #myModalLabel {
        	-moz-border-radius: 0.5rem 0.5rem 0 0;
        	-webkit-border-radius: 0.5rem 0.5rem 0 0;
        	border-radius: 0.5rem 0.5rem 0 0;
        }
        /*成功提示框*/
        
        #queding {
        	-moz-border-radius: 0.5rem;
        	-webkit-border-radius: 0.5rem;
        	border-radius: 0.5rem;
        }
        
        #quedingBtn {
        	background-color: #2a9ded;
        	width: 40%;
        	margin-right: 30%;
        	text-align: center;
        	color: white;
        }
        
        #queMyModalLabel {
        	background-color: #2a9ded;
        }
        
        .quedingBody {
        	height: 5rem;
        	line-height: 5rem;
        }
        
        .quedingBody img {
        	margin-left: -25%;
        	margin-top: 6%;
        }
        
        .quedingBody span {
        	position: relative;
        	left: 8%;
        }
        /*成功提示框2*/
        
        #susModalHea {
        	background-color: #2b9ced;
        	padding: 0.1rem 0;
        }
        
        #bindClassSue {
        	min-height: 8rem;
        }
        
        .msg-img {
        	padding: 0 .75rem;
        	padding-top: 1.60rem;
        	position: absolute;
        	float: left;
        }
        
        .msg-img img {
        	width: 2.5rem;
        	height: 2.5rem;
        	margin-top: 0.45rem;
        }
        
        .msg {
        	text-align: center;
        	height: 6.5rem;
        	line-height: 6.5rem;
        	font-size: 0.9rem;
        }
        
        .sueBtn {
        	outline: none;
        	margin: 0.3rem;
        	width: 40%;
        	background-color: #2b9ced;
        }
        
        .sueBtnC {
        	text-align: center;
        }
        /*toast样式*/
        
        .toast {
        	width: 18rem;
        	height: 2rem;
        	line-height: 2rem;
        	display: inline-block;
        	position: fixed;
        	font-size: .65rem;
        	left: 0;
        	bottom: 5rem;
        	z-index: 111111;
        	text-align: center;
        	display: none;
        }
        
        .toast .toast-su {
        	height: 2rem;
        	line-height: 2rem;
        	display: inline-block;
        	margin: 0 auto;
        	background-color: #666;
        	border: 0.05rem solid #dfdfdf;
        	border-radius: .25rem;
        	-moz-border-radius: .25rem;
        	-webkit-border-radius: .25rem;
        	-moz-border-radius: .25rem;
        	font-size: .6rem;
        	color: #fff;
        	padding-left: .5rem;
        	padding-right: .5rem;
        }
        
        .popup {
        	width: 18rem;
        	height: 34rem;
        	position: fixed;
        	z-index: 999;
        	background: rgb(153, 153, 153);
        	opacity: .8;
        	top: 0;
        	left: 50%;
        	margin-left: -9rem;
        	display: none;
        }
        
        .popup-text {
        	width: 14.5rem;
        	height: 10rem;
        	background-color: #fff;
        	position: fixed;
        	z-index: 1000;
        	top: 7rem;
        	left: 45%;
        	margin-left: -6.35rem;
        	-webkit-border-radius: .2rem;
        	-moz-border-radius: .2rem;
        	display: none;
        	overflow: hidden;
        }
        
        .popup-text .span-text {
        	width: 14.7rem;
        	height: 1.75rem;
        	line-height: 1.75rem;
        	text-align: center;
        	font-size: .8rem;
        	display: block;
        	background-color: #2B9CED;
        	color: #fff;
        	-webkit-border-top-left-radius: .2rem;
        	-webkit-border-top-right-radius: .2rem;
        }
        
        .popup-text .span-text .span-name {
        	float: left;
        	margin-left: 30%;
        }
        
        .popup-text .span-text #close {
        	float: right;
        	margin-right: 0.75rem;
        }
        
        .popup-btn {
        	width: 0.75rem;
        	height: 0.75rem;
        	top: 0.35rem;
        	right: .5rem;
        	position: absolute;
        }
        
        .popup-text input {
        	width: 10rem;
        	height: 1.5rem;
        	display: inline-block;
        	text-align: center;
        	margin-top: 1.6rem;
        	margin-left: 1.35rem;
        	background-color: #eee;
        	font-size: .75rem;
        	-webkit-border-radius: .2rem;
        	border: none;
        }
        
        .comfrim {
        	width: 7rem;
        	height: 1.5rem;
        	line-height: 1.6rem;
        	background-color: #2B9CED;
        	color: #fff;
        	display: inline-block;
        	margin-top: -1.5rem;
        	margin-left: 3.8rem;
        	text-align: center;
        	-webkit-border-radius: .2rem;
        	font-size: .85rem;
        }
        
        .comfrim:hover {
        	background-color: #DBDBDB;
        }
        
        .toast {
        	width: 18rem;
        	height: 2rem;
        	line-height: 2rem;
        	display: inline-block;
        	position: fixed;
        	font-size: .65rem;
        	left: 0;
        	bottom: 5rem;
        	z-index: 111111;
        	text-align: center;
        	display: none;
        }
        
        .toast .toast-su {
        	height: 2rem;
        	line-height: 2rem;
        	display: inline-block;
        	margin: 0 auto;
        	background-color: #666;
        	border: 0.05rem solid #dfdfdf;
        	-webkit-border-radius: .25rem;
        	-moz-border-radius: .25rem;
        	-webkit-border-radius: .25rem;
        	-moz-border-radius: .25rem;
        	font-size: .6rem;
        	color: #fff;
        	padding-left: .5rem;
        	padding-right: .5rem;
        }
        
        input:focus,
        button:focus,
        select:focus,
        option:focus {
        	outline: none;
        }
        
        input[type=text],
        input[type=submit],
        input[type=tel],
        button {
        	cursor: pointer;
        	-webkit-appearance: none;
        }