/*商城头部*/
/**{
	outline: solid;
}*/
.headInformation{
	height: 11.5rem;
	background: #2b9ced;
	color: white;
}

.explainBtn{
	float: right;
	/*width: 5.25rem;
	height:1.75rem; */
	padding: 0.5rem 1rem;
	font-size: 0.7rem;
	margin-right: 0.375rem;
	margin-top: -0.5rem;
	border: 0.08rem solid white;
	border-radius: 1rem;
	-moz-border-radius: 1rem;
	-webkit-border-radius: 1rem;	
}

.firExplain{
	display: block;
	padding: 0.25rem 0.75rem 1.25rem 0.75rem;
	font-size: 0.75rem;
}

.explainMon{
	padding: 0.5rem;
	font-size: 1rem;
	margin-right: 0.5rem;
}

.wtjf{
	float: left;
	padding: 1.75rem 0.5rem 1.2rem 0.75rem;
	font-size: 0.65rem;	
}

.wtjfNum{
	width: 4rem;
	float: left;
	padding: 1.75rem 0.5rem 1.2rem 0;
	font-size: 0.65rem;	
}

.jljf{
	float: left;
    margin-top: 0.65rem;
    padding: 0.75rem 0.5rem 1.42rem 2.7rem;
	font-size: 0.65rem;	
}

.jljfNum{
	width: 4rem;
	float: right;
	padding: 1.4rem 0.9rem 1.45rem 0;;
	font-size: 0.65rem;	
}
.thrExplainCon{
	height:0.6rem;
}
.thrExplainCon .wtjf{
	padding: 0 0.5rem 0 0.75rem;
}

.thrExplainCon .wtjfNum{
	padding: 0 0.5rem 0 0;
}

.thrExplainCon .jljf{
	margin-top: 0;
	padding: 0rem 0 0rem 2.7rem;;
}

.thrExplainCon .jljfNum{
	padding: 0rem 0.9rem 0 0;;
}

.interval{
	margin: 0.75rem 0.5rem 0.5rem 0.5rem;
	float: left;
	width: 17rem;
	height: 0.05rem;
	background: white;
}

.intervalTwo{
	height: 0.5rem;
}

.explainTxt{
	float: left;
    padding: 0rem 0.75rem;
    font-size: 0.65rem;
    line-height: 1rem;
    height: 1rem;
}

/*Old*/
.transerOilCard {
	width: 18rem;
	margin: 0 auto;
	background: #efefef;
	overflow: hidden;
}
.card {
	width: 18rem;
	padding: 0.65rem 0.75rem;
	background: #fff;
	overflow: hidden;
}
.card_sum{
	border-top:0.05rem solid #e0e0e0;
	margin-bottom: 0.5rem;
}

.card_sum{
    overflow: hidden;
    padding: 0 0.75rem;
}

.card_sum .sel_sum {
	width: 16.5rem;
	padding-bottom: 0.75rem;
	overflow: hidden;
}
.card_sum .selZSH{
	padding-bottom: 0.75rem;
}
.card_sum .sel_sum li {
	float: left;
	width: 5rem;
	height: 3.5rem;
	border: 0.05rem solid #efefef;
	box-sizing: border-box;
	-webkit-border-radius: 0.15rem;
	margin: 0.75rem 0.25rem 0 0.25rem;
}
.card_sum .sel_sum li #jifen_num{
	display:block;
	font-size:0.9rem;
}
.card_sum .sel_sum li .dis_type{
	font-size:0.6rem;
	color:#666;
}
 .canSel{
 	border: 0.05rem solid #2B9CED!important;
 }
 .canDo{
 	color:#2B9CED!important;
 }
.card_sum .sel_sum li:first-child{
    margin-left: none;
}
.card_sum .sel_sum li:last-child{  
    margin-right: none;
}
.card_sum .sel_sum li a {
	display: block;
	width: 5rem;
	height: 3.5rem;
	padding: 0.75rem;
	color: #999;
	text-align: center;
	cursor: pointer;
}
.card_tip{
	width: 16.5rem;
	margin-top:0.2rem;
	font-size: 0.55rem;
	margin-bottom: 1.2rem;
}
.card_tip .wenxin_tip{
	overflow: hidden;
}
.card_tip .wenxin_tip .tip_txt{
	width: 80%;
	float:left;
    color:#333;
}
.card_tip .wenxin_tip .details{
	display: block;
	text-align: right;
	width: 20%;
	float: right;
	color: #2B9CED;
}
.card_tip .wenxin_tip .details img{
	width: 0.55rem;
	height:0.35rem;
	margin: 0.1rem 0 0.1rem 0.25rem;
}
.card_tip .show_txt{
	display: none;
	margin-top: 0.5rem;
	font-size: 0.55rem;
	color: #666;
}
.card_tip .show_txt li{
	width: 16.5rem;
	line-height: 1.5;
}
.sel_taocan{
	width: 18rem;
	padding: 0 0.75rem;
	height:2.45rem; 
	line-height: 2.45rem;
    overflow: hidden;
    border-bottom: 0.05rem solid #e0e0e0;
	font-size: 0.7rem;
	color: #333;
}

.sel_taocan  img.yk_btn{
	float:left;
	width:1.15rem;
	height:1.15rem;
	margin: 0.65rem  0.5rem 0.65rem 0;
}
.sel_taocan .goumai_txt {
	float:left;
	display: block;
	color: #666666;
}
.sel_taocan  .yigou_func{
	display: block;
	float:right;
	font-size: 0.65rem;
	color: #2b9ced;
}
/*自购套餐*/
.wode_func{
	width: 18rem;
	padding: 0 0.75rem ;
	background: #f5f6f7;
}

.wode_func #combo_list{
	overflow: hidden;
	width:16.5rem;
}

.wode_func #combo_list li{
	width: 100%;
	height:6rem;
	padding: 0.5rem 0 0.6rem 0;
	border-bottom: 0.05rem solid #E0E0E0;
	box-sizing: border-box;
}
.wode_func #combo_list li .con_left{
	height:5rem;
	width: 9.25rem;
	float:left;
	background: #71cfe3;
}
.wode_func #combo_list li .con_left span{
	float: right;
	line-height: 5rem;
	font-size: 1rem;
	color: white;
}
.wode_func #combo_list li .con_right img{
	position: relative;
    top: 1.5rem;
    left: 0.5rem;
    width: 4.25rem;
    height: 1.75rem;
}
.wode_func #combo_list li .con_right{
	height:5rem;
	width: 7.25rem;
	float:right;
	overflow: hidden;
	background: #71cfe3;
}
.wode_func #combo_list li .con_right .combo_title{
	font-size: 0.85rem;
	color:#333;
	margin-bottom: 0.45rem;
}
.wode_func #combo_list li .con_right .combo_plain{
	font-size: 0.65rem;
	color:#666;
	line-height: 1.5;
	margin-bottom: 0.35rem;
}
/*.wode_func #combo_list li .con_right button{
	border:none;
	width: 3rem;
	height: 1.25rem;
	background-color:#2b9ced;
	-webkit-border-radius: 0.15rem;
	color: #fff;
	font-size: 0.55rem;
	float: right;
}*/
/*toash*/
.toast {
	width: 18rem;
	height: 2rem;
	line-height: 2rem;
	display: inline-block;
	position: fixed;
	font-size: .65rem;
	left: 0;
	bottom: 5rem;
	z-index: 111111;
	text-align: center;
	display: none;
}
.toast .toast-su {
	height: 2rem;
	line-height: 2rem;
	display: inline-block;
	margin: 0 auto;
	background-color: #666;
	border: 0.05rem solid #dfdfdf;
	border-radius: .25rem;
	-moz-border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	font-size: .6rem;
	color: #fff;
	padding-left: .5rem;
	padding-right: .5rem;
}
/*弹窗*/
.popup {
	width: 18rem;
	height: 34rem;
	position: fixed;
	z-index: 999;
	background: rgb(153, 153, 153);
	opacity: .8;
	top: 0;
	left: 50%;
	margin-left: -9rem;
	display: none;
}
.popup-text {
	width: 16rem;
	height: 16.625rem;
	background-color: #fff;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	top: 3.5rem;
	left: 35%;
	margin-left: -5.35rem;
	display: none;
}
.popup-text .span-text {
	width: 16rem;
	height: 2rem;
	text-align: center;
	font-size: .75rem;
	display: block;
	color: #fff;
	padding-top: 1.25rem;
	-webkit-border-top-left-radius: .2rem;
	-webkit-border-top-right-radius: .2rem;
}
.popup-text .span-text .span-name {
	font-size: 0.75rem;
	color: #333;
}
.popup-text .popup-content{
	width: 16rem;
	padding:0  0.5rem;
}
.popup-text .popup-content ul{
	overflow: hidden;
	width: 14.5rem;
	margin:1.05rem 0 0 .25rem;
}
.popup-text .popup-content ul li{
	height: 2.4rem;
	font-size: 0.7rem;
	color: #999;
	padding-top: 1.2rem;
	border-bottom: 0.05rem solid #e0e0e0;
	box-sizing: border-box;
	overflow: hidden;
}
.popup-text .popup-content ul li .intxt{

	width: 1.75rem;
	color: #666;
}
.popup-text .popup-content ul li input{
	border:none;
	outline: none;
	font-size: 0.7rem;
	color: #999;
	background-color: none;
}
.popup-text .popup-content ul li.selCardType {
	padding-top: 1rem;
	overflow: hidden;
}
.popup-text .popup-content ul li.selCardType .seType{
	width: 7.25rem;
	height: 0.8rem;
	float:left;
	text-align: center;
}
.popup-text .popup-content ul li.selCardType .seType img{
	width: 0.55rem;
	height:0.55rem;
	margin:0 0.5rem 0 0;	
}
.popup-text .popup-content ul li#getCaNum>#in_cardNum{
    width: 10.25rem;
}
.popup-text .popup-content ul li#getCaNum #close{
	display: inline-block;
	width: 0.7rem;
	height:0.7rem;
	margin-top: 0.2rem;
	float:right;
}
.popup-text .popup-content ul li#getCaNum #close img{
	width: 0.65rem;
	height:0.65rem;
}
.popup-text .operBtn{
	width: 7.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	display: inline-block;
	margin-top: 0.75rem;
	margin-bottom: 1rem;
	text-align: center;
	-webkit-border-radius: .2rem;
	font-size: .75rem;
}
.popup-text .cancel{
	background-color: #f5f6f7;
	color: #333;
	margin-right: 0.6rem;
	border: 0.05rem solid #ccc;
	box-sizing: border-box;
}
.popup-text .comfrim {
	background-color: #2B9CED;
	color: #fff;
	
}

.seType span{
	font-size: 0.8rem;
	line-height: 0.1rem;
}
.seType img{
	width: 0.65rem;
    height: 0.65rem;
}