/*充值*/

.OilCardPay {
	width: 18rem;
	margin: 0 auto;
	background: #efefef;
	overflow: hidden;
	position: relative;
}

.card {
	width: 18rem;
	padding: 0.65rem 0.75rem;
	background: #fff;
	overflow: hidden;
	/*margin-bottom: 0.5rem;*/
}

.card_num {
	border-bottom: 0.05rem solid #efefef;
}


/* 输入卡号*/

.card_num .dis_cardNum {
	float: left;
	width: 11.95rem;
	height: 3.05rem;
	border-right: 0.05rem solid #efefef;
	overflow: hidden;
}

.card_num .dis_cardNum input {
	margin-top: 0.9rem;
	width: 11.9rem;
	height: 1.2rem;
	font-size: 0.9rem;
	color: #999;
	border: none;
	outline: none;
}


/*.card_num .dis_cardNum input:disabled {
	background-color:#fff;
	color:#000;
	opacity: 1.0;
}*/

.card_num .txt_explain {
	display: block;
	height: 0.75rem;
	font-size: 0.65rem;
	margin: 0.28rem 0 0 0;
	color: #999;
}

.card_num .card_icon {
	float: right;
	display: block;
	height: 3.05rem;
	line-height: 3.05rem;
	text-align: right;
	font-size: 0.75rem;
	color: #2B9CED;
}

.card_num .card_icon .down_btn {
	width: 0.6rem;
	height: 0.35rem;
	margin-top: 1.4rem;
	margin-left: 0.3rem;
}


/*选择油卡*/

.card_list {
	overflow: hidden;
	padding: 0 0.75rem;
	z-index: 1000;
	height: 9.6rem;
	position: absolute;
}

.card_list ul {
	overflow: hidden;
	width: 15rem;
	height: 7.2rem;
	margin: 0 auto;
	overflow-y: scroll;
}

.card_list ul li {
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 0.75rem;
	color: #666;
	/*text-align: center;*/
	border-bottom: 0.05rem solid #efefef;
	box-sizing: border-box;
	overflow: hidden;
}

.card_list ul li img.zsy_btn {
	width: 1rem;
	height: 1rem;
	margin-top: 0.7rem;
	margin-left: 2.15rem;
	margin-right: 1.6rem;
}

.card_list ul li span.card_Num {
	/*margin-left: 1.6rem;*/
	display: inline-block;
}

.card_list .bindCard {
	width: 15rem;
	margin: 0 auto;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: right;
}

.card_list .bindCard .bindtxt {
	color: #2B9CED;
	font-size: 0.7rem;
	display: inline-block;
}

.card_list .bindCard .bindtxt img {
	width: 0.4rem;
	height: 0.7rem;
	margin-left: 0.3rem;
	margin-top: 0.84rem;
}


/*输入油卡信息*/

.card_info {
	z-index: 999;
	overflow: hidden;
	padding: 0 0.75rem;
}

.card_info ul {
	overflow: hidden;
	width: 16.5rem;
	margin: 0 auto;
}

.card_info ul li {
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 0.7rem;
	color: #999;
	border-bottom: 0.05rem solid #efefef;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.card_info ul li .intxt {
	width: 1.75rem;
	color: #333;
	line-height: 2.4rem;
	height: 2.4rem;
}

.card_info ul li input {
	border: none;
	outline: none;
	height: 1.2rem;
	font-size: 0.7rem;
	color: #999;
	margin-left: 0.6rem;
	line-height: 1.2rem;
	background-color: none;
}


/*我的优惠券*/

.card_info ul li.yhq_txt .rig_tip {
	float: right;
	color: #333;
	font-size: 0.7rem;
}

.card_info ul li #cz_price {
	margin-left: 0.6rem;
	color: #2B9CED;
}

.card_info ul li.yhq_txt img.next {
	width: 0.4rem;
	height: 0.7rem;
	margin-left: 0.3rem;
	margin-top: 0.8rem;
}


/*使用我的优惠券 已减免*/

.card_info ul li.yhq_txt .getCouSum {
	float: right;
	color: #f75c51;
	font-size: 0.7rem;
	height: 2.4rem;
	line-height: 2.4rem;
	overflow: hidden;
}

.card_info ul li.yhq_txt .getCouSum .cancelBtn {
	display: inline-block;
	-webkit-appearance: none;
	float: right;
	width: 2.95rem;
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
	color: #333;
	font-size: 0.8rem;
	border: 0.05rem solid #ccc;
	border-radius: 0.7rem;
	-webkit-border-radius: 0.7rem;
	-moz-border-radius: 0.7rem;
	margin: 0.58rem 0 0.58rem 0.75rem;
}


/*点击绑定油卡*/

.card_bind {
	width: 18rem;
	padding: 0 0.75rem;
	background: #fff;
	overflow: hidden;
	margin-top: 0.5rem;
}

.card_bind .lefttxt {
	width: 1.75rem;
	color: #333;
	line-height: 2.4rem;
	height: 2.4rem;
	font-size: 0.7rem;
}

.card_bind .testswitch {
	float: right;
	width: 2.4rem;
	height: 1.4rem;
	margin-top: 0.45rem;
}


/*点击充值按钮*/

.footer {
	/*position: fixed;*/
	margin: 1rem 0.75rem;
	height: 2.25rem;
	line-height: 2.25rem;
	width: 16.5rem;
	font-size: .8rem;
	text-align: center;
	background-color: #2a9ded;
	-webkit-border-radius: .2rem;
	color: #fff;
}

.footer #prTag {
	margin-left: 0.3rem;
	margin-top: 0.1rem;
}


/*后台文字*/


/*.explain-txt{
	height:5rem;
} */

.p-txt {
	font-size: 0.65rem;
	color: #999;
	line-height: 1.5;
	margin: 0.75rem;
}


/*toast*/

.toast {
	width: 18rem;
	height: 2rem;
	line-height: 2rem;
	display: inline-block;
	position: fixed;
	font-size: .65rem;
	left: 0;
	bottom: 5rem;
	z-index: 111111;
	text-align: center;
	display: none;
}

.toast .toast-su {
	height: 2rem;
	line-height: 2rem;
	display: inline-block;
	margin: 0 auto;
	background-color: #666;
	border: 0.05rem solid #dfdfdf;
	border-radius: .25rem;
	-moz-border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	font-size: .6rem;
	color: #fff;
	padding-left: .5rem;
	padding-right: .5rem;
}

.popup {
	width: 18rem;
	height: 34rem;
	position: fixed;
	z-index: 9999;
	background: rgb(153, 153, 153);
	opacity: .8;
	top: 0;
	left: 50%;
	margin-left: -9rem;
	display: none;
}

.popup-text {
	width: 15.5rem;
	height: 8.75rem;
	background-color: #fff;
	position: fixed;
	z-index: 10000;
	top: 8rem;
	left: 42%;
	margin-left: -6.35rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	display: none;
	overflow: hidden;
}

.popup-text .span-text {
	width: 15.52rem;
	height: 1.75rem;
	line-height: 1.75rem;
	text-align: center;
	font-size: .75rem;
	display: block;
	background-color: #2B9CED;
	color: #fff;
	-webkit-border-top-left-radius: .2rem;
	-webkit-border-top-right-radius: .2rem;
}

.popup-text .span-text .span-name {
	float: left;
	margin-left: 40%;
}

.popup-btn {
	width: 0.75rem;
	height: 0.75rem;
	top: 0.35rem;
	right: .5rem;
	position: absolute;
}

.popup-text input {
	width: 11.5rem;
	height: 1.65rem;
	display: inline-block;
	text-align: center;
	margin-top: 1.6rem;
	margin-left: 2rem;
	font-size: .75rem;
	border: none;
}

.comfrim {
	width: 6.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	background-color: #2b9bed;
	color: #fff;
	display: inline-block;
	margin-top: 1.4rem;
	margin-left: 4.5rem;
	text-align: center;
	-webkit-border-radius: .2rem;
	font-size: .8rem;
}

input:focus,
button:focus,
select:focus,
option:focus {
	outline: none;
}